.card
  %p
    %b You are almost done!
    %br/
    You just need to verify that you actually own the League account that your are claimming to do in the registration[
    %b #{@user.summoner_name} 
    in 
    %b #{@user.region.upcase}
    ]
    %br/
    %b It's easy!
    Just change one of your Mastery Pages name to the code displayed below and then click the
    %b 'Verify'
    button.
    %br
  %h2= @user.confirmation_key
  %p
    %b Warning:
    If you click the 'Verify' button and you have NOT made the change, you will have to wait 10 minutes to try again.
